/* NAVIGATION */
nav{
display: block;
margin: 0;
background-color: #434343;
width: 100%;
height: auto;
height: 60px;
}
nav ul{
  display: none;
  padding: 0 20px;
  list-style: none;
  margin: 0;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
}
nav .right{
  float: right;
}

nav ul li a{
  display: block;
  padding: 0 10px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: #FFFFFF;
}
nav ul li a:hover{
  background-color: #AF8655;
}
nav ul li a.nav--active{
  background-color: #AF8655;
}
@media only screen and (max-width: 1024px){
  .navigation--active{
    width: 100vw;
    display: block;
    position: absolute;
    height: 100vh;
    padding-top: 100px;
    z-index: 100;
  }
  .navigation--active .links,
  .navigation--active .right{
    display: flex;
    flex-direction: column;
    text-align: center;
    float: none;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape){
  .navigation--active{
    padding-top: 60px;
  }
  .navigation--active ul li{
    line-height: 40px;
  }
}
@media only screen and (min-width: 1024px){
  nav ul{
    display: inline-block;
  }
}
::selection{
  color: #FFFFFF;
  background-color: #AF8655;
}


/* HEADER */
header{
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
header .logo{
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../icons/logo-header.svg');
  cursor: pointer;
}
.header__space{
  margin-top: 60px !important;
}
.titel-home{
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 500px;
}
.titel-home h1{
  margin-bottom: 50px;
  margin-right: 20px;
}


/* FOOTER */
footer{
  position: relative;
  background-color: #fff;
  padding: 0;
}
.footer__logo{
  display: block;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  cursor: pointer;
  background-image: url('../icons/logo-footer.svg');
}
footer a, footer p{
  color: #434343;
}

/* BURGER */
.burger{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 15px;
  cursor: pointer;
  z-index: 101;
}
@media only screen and(min-width: 1024px){
  .burger{
    display: none;
  }
}
.burger span{
  display: block;
  width: 20px;
  height: 2px;
  background-color: #AF8655;
  position: absolute;
  transition: .5s ease-in-out;
}
.burger span:nth-child(1){
  top: 0;
}
.burger span:nth-child(2){
  display: block;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: .4s ease-in-out;
}
.burger span:nth-child(3){
  bottom: 0;
}
.burger--active{
  height: 20px;
  top: 30px;
}
.burger--active span:nth-child(1){
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}
.burger--active span:nth-child(2){
  opacity: 0;
}
.burger--active span:nth-child(3){
  top: 50%;
  left: -1px;
  transform: rotate(45deg) translateY(-50%);
}
@media only screen and (min-width: 1024px){
  .burger{
    display: none;
  }
}
